# Ignore all input.txt files in the bash_scripts directory
input.txt

#  Ignore testing folder
testing/

# ignore all venv
venv/

# ignore myscript.py
myscript.py

# ignore script_gen.sh
script_gen*.sh